{% extends 'basepage.html.twig' %}
{% block title %}Category index
{% endblock %}
{% block titre %}
	Liste des catégories
{% endblock %}
{% block corps %}


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>

						<a href="{{ path('category_show', {'id': category.id})}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Détail</a>
					</td>
					<td>


						<a href="{{ path('category_edit', {'id': category.id})}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucune catégorie trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
{% block boutons %}
	<a href="{{ path('category_new')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Creér une catégorie</a>
{% endblock %}
