{% extends 'basepage.html.twig' %}

{% block title %}List produit
{% endblock %}
{% block titre %}
	Liste des produits
{% endblock %}

{% block corps %}
	<div>
		<table class="table">
			<tr>
				<td>
					Nom produit
				</td>
				<td>
					Prix du produit
				</td>
				<td>
					Description
				</td>
				<td>
					Image
				</td>
			</tr>
			{% for p in produits%}
				<tr>
					<td>{{ p.id}}</td>
					<td>{{ p.name}}</td>
					<td>{{ p.price}}
					</td>
					<td>

						<a href="{{ path('produit.show',{'id':p.id })}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Détails</a>
					</td>
					<td><img src="{{ asset('images/cafesmall.jpg') }}"></td>
				</tr>
			{% else %}
				<h2>
					la table produit est vide
				</h2>
			{% endfor %}
		</table>
	</div>
{% endblock %}
{% block boutons %}
		<a href="{{ path('product_formadd')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Ajouter un produit</a>
{% endblock %}
