{% extends 'base1.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}

<h1 class="text-white bg-dark">liste de tous les produits</h1>
<table class="table table-dark">
<th>
<td> Nom produit </td>
  <td> Prix du produit </td>
  <td> Description </td>
  <td> Image </td>
<th>  
{% for p in produits%}
<tr>
  <td>{{ p.id}}</td>
  <td>{{ p.name}}</td>
  <td>{{ p.price}}</td>
   <td><a href="{{ path('produit.show',{'id':p.id })}}">Voir Détails</a></td>
    <td><img src="{{ asset('uploads/images/' ~ p.image) }}"></td>
</tr>
{% else %}   
  <h2> la table produit est vide </h2>
{% endfor %}
</table>
{% endblock %}
